body {
  background-color: white;
}

main {
  display: flex;
  flex-direction: row;
  width: auto;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.content-info {
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

header {
  padding: 15px 0 0 25px;
  font-family: "Inconsolata", monospace;
  color: #333;
  font-family: Inconsolata;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.92px;
  text-transform: uppercase;
}

.content-info,
.content-tittle,
.content-btn {
  font-family: "Space Mono", monospace;
}

.content-tittle {
  color: #333;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2.24px;
  width: 586px;
}

.content-data {
  color: var(--gray-2, #4f4f4f);
  font-family: Space Mono;
  font-size: var(--fontSize24);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.84px;
  width: 381px;
}

.content-btn {
  width: 216px;
  height: 68px;
  flex-shrink: 0;
  background: #333;
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.49px;
  text-transform: uppercase;
}

img {
  width: 60%;
}

.content-img {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  height: calc(100vh - 75px);
}

footer span a {
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  color: #bdbdbd;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-decoration-line: underline;
}

footer {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  main {
    margin-top: 50px;
    flex-direction: column;
    width: 375px;
    height: 949px;
  }

  .content {
    align-items: center;
    flex-direction: column;
  }

  .content-img {
    height: 40vh;
  }

  img {
    width: 100%;
  }
  .content-tittle {
    font-size: 48px;
    letter-spacing: -1.68px;
    width: 350px;
  }

  .content-data {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.63px;
    width: 328px;
  }

  .content-btn {
    width: 216px;
    height: 68px;
    font-size: 14px;
    letter-spacing: -0.49px;
  }
  footer {
    margin-top: auto;
  }
}
